<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_arrow-hd.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,61}</string>
                <key>spriteSourceSize</key>
                <string>{34,63}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sp_arrow-hd.png</string>
            <key>size</key>
            <string>{34,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f850d6792347641eded9b4108fc0bdb:7bd41fec99aae2a219340c46a5d1c1cc:abd9be64baa5cddc33c62b54270b8c37$</string>
            <key>textureFileName</key>
            <string>sp_arrow-hd.png</string>
        </dict>
    </dict>
</plist>
