<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_arrow-ipad.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,65}</string>
                <key>spriteSourceSize</key>
                <string>{36,67}</string>
                <key>textureRect</key>
                <string>{{1,1},{34,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sp_arrow-ipad.png</string>
            <key>size</key>
            <string>{36,67}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8616e899ce8165132efd468b7f44f0b5:941f7f4f47cc9b02bebc5cfde5137ac9:ee820d3092d64af101ee0b2a5896acec$</string>
            <key>textureFileName</key>
            <string>sp_arrow-ipad.png</string>
        </dict>
    </dict>
</plist>
