<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg0_1-ipad.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1418,866}</string>
                <key>spriteSourceSize</key>
                <string>{1420,868}</string>
                <key>textureRect</key>
                <string>{{1,1},{1418,866}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bg0_1-ipad.png</string>
            <key>size</key>
            <string>{1420,868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca44800122c1395d6b147866772dedb8:83d341828b4fde2414886a1bf07fdff5:da8c1225cd1d81ce09ad55f0b2a088e2$</string>
            <key>textureFileName</key>
            <string>bg0_1-ipad.png</string>
        </dict>
    </dict>
</plist>
