<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg0_1-hd.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,436}</string>
                <key>spriteSourceSize</key>
                <string>{714,438}</string>
                <key>textureRect</key>
                <string>{{1,1},{712,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bg0_1-hd.png</string>
            <key>size</key>
            <string>{714,438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd00b9d5dee7166cc6f63a6553e2d034:cbbbd04661182c61a27f9d4087ea2cf8:c854f3541281f10623338cecbebb5398$</string>
            <key>textureFileName</key>
            <string>bg0_1-hd.png</string>
        </dict>
    </dict>
</plist>
