<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg0_1.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,222}</string>
                <key>spriteSourceSize</key>
                <string>{361,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{359,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bg0_1.png</string>
            <key>size</key>
            <string>{361,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5376e7482d1520c4a64e08ae6c5954c0:726482ee19ffded126727dd10cf6063a:50a5f36306e7ff41a18a53a9b37f579e$</string>
            <key>textureFileName</key>
            <string>bg0_1.png</string>
        </dict>
    </dict>
</plist>
