<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg1_1.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,326}</string>
                <key>spriteSourceSize</key>
                <string>{578,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>bg1_1.png</string>
            <key>size</key>
            <string>{578,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:add662fd7c8d975a3b09cd90f894112d:72fbd413c0708d0e581d899e89035541:a2dc74b8c37ed3ff27fda39403d176b2$</string>
            <key>textureFileName</key>
            <string>bg1_1.png</string>
        </dict>
    </dict>
</plist>
