<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coins_fly-hd.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>coins_fly-hd.png</string>
            <key>size</key>
            <string>{130,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb9539f9bde39b74e7777bf6b199215d:f377ad518b8f84ce3831ffec2ff07226:1cb26ebdad815c609eb405e0b0861007$</string>
            <key>textureFileName</key>
            <string>coins_fly-hd.png</string>
        </dict>
    </dict>
</plist>
