<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coins-ipadhd.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1013,509}</string>
                <key>spriteSourceSize</key>
                <string>{1015,511}</string>
                <key>textureRect</key>
                <string>{{1,1},{1013,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>coins-ipadhd.png</string>
            <key>size</key>
            <string>{1015,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adbbaa606d526552ed70200892690483:3fec353b52c4437145e30e2d16aec6e8:26f8be0830af18054df8d52567280263$</string>
            <key>textureFileName</key>
            <string>coins-ipadhd.png</string>
        </dict>
    </dict>
</plist>
