<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coins.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,123}</string>
                <key>spriteSourceSize</key>
                <string>{241,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>coins.png</string>
            <key>size</key>
            <string>{241,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c27614b7f98779a7b6c190ea4cfb868:b74f06dc5e8f29f1c87b94b63b34b7be:678d5fa021a8be934d7e4cdec668e391$</string>
            <key>textureFileName</key>
            <string>coins.png</string>
        </dict>
    </dict>
</plist>
