<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coins-ipad.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{508,314}</string>
                <key>spriteSourceSize</key>
                <string>{510,316}</string>
                <key>textureRect</key>
                <string>{{1,1},{508,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>coins-ipad.png</string>
            <key>size</key>
            <string>{316,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8571a533d6891b9a540989a564417a3:58ddda2969bca29dbb9d51a31b209a70:428e90c410cfee113a330efd2b37aacf$</string>
            <key>textureFileName</key>
            <string>coins-ipad.png</string>
        </dict>
    </dict>
</plist>
