<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coins-hd.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{505,241}</string>
                <key>spriteSourceSize</key>
                <string>{507,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{505,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>coins-hd.png</string>
            <key>size</key>
            <string>{507,243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3194f0ad34810bfc78c12949ba81acd6:eeee321328edb56930e09b360a1e508f:827ed838ac2b12989e3d907699ceecdf$</string>
            <key>textureFileName</key>
            <string>coins-hd.png</string>
        </dict>
    </dict>
</plist>
