<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_wheel-ipad.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{953,514}</string>
                <key>spriteSourceSize</key>
                <string>{955,516}</string>
                <key>textureRect</key>
                <string>{{1,1},{953,514}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sp_wheel-ipad.png</string>
            <key>size</key>
            <string>{516,955}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70ab8f71ce87d96b2e6ac68a05a4194e:c91aaec463e2a665d0905682abaf896f:3fac75f9ddb7e66b934cd26c9a44021e$</string>
            <key>textureFileName</key>
            <string>sp_wheel-ipad.png</string>
        </dict>
    </dict>
</plist>
