<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sp_wheel.pvr.ccz</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,376}</string>
                <key>spriteSourceSize</key>
                <string>{244,378}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>sp_wheel.png</string>
            <key>size</key>
            <string>{244,378}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:006024dd57c990d746d28d15928c744a:d07a6bbcb9738d6c0995ec6331bd6b28:c72de588ab3c3b83148fc2f87336ffe6$</string>
            <key>textureFileName</key>
            <string>sp_wheel.png</string>
        </dict>
    </dict>
</plist>
